/* Styling for the pop-up background overlay */
.popup-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures the pop-up is centered */
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    z-index: 1000;
}

/* Styling for the pop-up content */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 350px; /* Limits the maximum width */
    margin: auto; /* Centers the pop-up */
    max-height: 80vh; /* Set max height */
    overflow-y: auto; /* Enable scrolling if content exceeds max-height */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: red;
    cursor: pointer;
}

.popup-menu button {
margin: 5px 0;
}

/* Position the help button at the bottom of the menu */
.help-btn-container {
    margin-top: auto;
}

.popup-content h2, .popup-content h3, .popup-content button {
    text-align: center;
}

.popup-content button {
    width: 100%;
    padding: 10px;
}

/* Button styling */
button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Stilizacija za stikalo */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Stilizacija besedila */
#rainStatus {
    margin-left: 10px;
}